*{
    margin:0;
    font-family: sans-serif;
}
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: lightgray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #8265A7;
}
button {
    outline: none;
}
